
      <tbody class="event_tbody">
      {% for build in builds %}
        <tr>
          <td>{{ build['host_name'] }}</td>
          <td>{{ build['job_name'] }}</td>
          <td>{{ build['build_number'] }}</td>
          <td>{{ build['build_status'] }}</td>
          <td>{% raw build['build_description'] %}</td>
          <td>{{ build['build_time'] }}</td>
          <td>{{ build['build_duration'] }} ms</td>
          <td>{{ build['started_by'] }}</td>
          <td>{{ build['upstream_job_name'] }}</td>
          <td>{{ build['upstream_build_number'] }}</td>
        </tr>
      {% end %}
      </tbody>

