<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>Event Stream Notifications</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url("main.css") }}">
</head>
<body>
  <div id="header">
    {% block header %}
    <table>
      <thead class="header_theader">
        <tr>
          <td><a href="/">home</a></td>
          <td><a href="/subscribe">subsribe</a></td>
        </tr>
      </thead>
    </table>
    {% end %}
  </div>

  <div id="content">
    {% block content %}{% end %}
  </div>

  <div id="footer">
    {% block footer %}{% end %}
  </div>
</body>
</html>

