{% extends "base.html" %}

{% block content %}
  <script src="{{ static_url("sort.js") }}" type="text/javascript"></script></script>
  <div>
    <h2>All Events</h1>
    <table id="passed_events">
      <thead class="event_theader">
        <tr>
          <td id="host_name" width="250">host</td>
          <td id="job_name" width="80">job name</td>
          <td id="build_number" width="100">build number</td>
          <td id="build_status" width="100">status</td>
          <td id="build_description" width="100">description</td>
          <td id="build_time_in_millis" width="200">time</td>
          <td id="build_duration" width="100">duration</td>
        </tr>
      </thead>
      {% include "all_events_sorted.html" %}
    </table>
  </div>
{% end %}
