{% extends "base.html" %}

{% block content %}
  <script src="{{ static_url("pubsub.js") }}" type="text/javascript"></script></script>
  <div id="subPanel">
    <h2>Subscribe a channel</h2>
    Supported glob-style patterns:                                          <br/>
    h?llo matches hello, hallo and hxllo                                    <br/>
    h*llo matches hllo and heeeello                                         <br/>
    h[ae]llo matches hello and hallo, but not hillo                         <br/>
    Use \ to escape special characters if you want to match them verbatim.  <br/>
    <input type="text" id="channelName" value="notioncommotion.corp.gq1.yahoo.com:job1"
    size="50">
    <input type="button" value="subscribe" id="subButton">
  </div>

  <div id="channelList">
    <h2>Subscribed Channels</h2>
  </div>

  <div id="eventstream">
    <h2>Real-Time Event Notifications</h2>
    <table>
      <thead class="event_theader">
        <tr>
          <td id="host_name" width="250">host</td>
          <td id="job_name" width="80">job name</td>
          <td id="build_number" width="100">build number</td>
          <td id="build_status" width="100">status</td>
          <td id="build_description" width="100">description</td>
          <td id="build_time" width="200">time</td>
          <td id="build_duration" width="100">duration</td>
        </tr>
      </thead>

      <tbody class="event_tbody">
      {% for build in messages %}
        {% include "message.html" %}
      {% end %}
      </tbody>
    </table>
  </div>
{% end %}
